// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-center {
  text-align: center;
  margin-top: 100px;
  font-family: 'Lato';
}

.form-control {
  width: 50px;
}

.card {
  background-color: white;
  opacity: 0.5;
  padding: 50px;
}
